<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bd-placeholder-img bd-placeholder-img-lg">
        <%= image_tag 'airport.jpg', focusable: false, alt: '空港', class: "d-block w-100", style: "width: 800px; height: 800px;" %>
        <title>Placeholder</title>
        <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
      </div>
    </div>
    <div class="carousel-item">
      <div class="bd-placeholder-img bd-placeholder-img-lg">
        <%= image_tag 'desert.jpg', focusable: false, alt: '砂漠', class: "d-block w-100", style: "width: 800px; height: 800px;" %>
      </div>
      <title>Placeholder</title>
      <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
    </div>
    <div class="carousel-item">
      <div class="bd-placeholder-img bd-placeholder-img-lg">
        <%= image_tag 'forest.jpg', focusable: false, alt: '森', class: "d-block w-100", style: "width: 800px; height: 800px;" %>
      </div>
      <title>Placeholder</title>
      <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>