<header>
	<div class="container header-group">
		<a href="#mv"><%= image_tag 'img/logo.png', alt: 'ロゴ', class: "logo" %></a>
		<div class="menu-box">
			<span class="list-bar"></span>
			<span class="list-bar"></span>
			<span class="list-bar"></span>
		</div>
		<nav>
			<ul class="nav">
				<li class="nav-list"><a href="#portfolio">Portfolio</a></li>
				<li class="nav-list"><a href="#feature">Feature</a></li>
				<li class="nav-list"><a href="#profile">Profile</a></li>
				<li class="nav-list"><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>